<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Merriweather/Merriweather-Black.ttf</string>
		<string>Merriweather/Merriweather-BlackItalic.ttf</string>
		<string>Merriweather/Merriweather-Bold.ttf</string>
		<string>Merriweather/Merriweather-BoldItalic.ttf</string>
		<string>Merriweather/Merriweather-Italic.ttf</string>
		<string>Merriweather/Merriweather-Light.ttf</string>
		<string>Merriweather/Merriweather-LightItalic.ttf</string>
		<string>Merriweather/Merriweather-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchIMG</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
